<h2>Secrets:</h2>
<% @secrets.each do |secret| %>
  <p><%= secret.content %></p>
    <h4>Likes: <%= secret.likes.count %></h4>
  <% if  not secret.users.include?(current_user) %>
    <form action="/likes/new" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input type="hidden" name="secret_id" value="<%= secret.id %>">
    <input type="submit" name="like" value="Like">
    </form>
  <% else %>
    <button><a href="/unlike/new/<%= secret.id %>" data-method="delete" style="text-decoration: none;">Unlike</a></button>
  <% end %>
  <% if current_user == secret.user %>
  <button><a href="/secrets/<%= secret.id %>" data-method="delete" style="text-decoration: none;">Delete Secret</a></button>
  <% end %>
<% end %>
<button><a href="/users/<%= current_user.id %>" style="text-decoration: none;">Back</a></button>

