<h1>You have submitted this form <%= flash[:count] %> times!</h1>

<h1>Submitted Information</h1>
<h3>Name: <%= @user.name %></h3>
<h3>Dojo Location: <%= @user.location %></h3>
<h3>Favorite Language: <%= @user.language %></h3>
<h3>Comment(s): <%= @user.comment %></h3>